@CHARSET "ISO-8859-1";

body {
	text-align: center;
	font-family: calibri;
	font-size: 12px;
}

div.error {
	color: red;
}

div.message {
	font-size: 14px;
	font-weight: bold;
	color: blue;
}

a:hover {
	text-decoration: none;
}

a {
	color: black;
	text-decoration: none;
}

table {
	text-align: center;
	font-family: calibri;
	font-size: 12px;
}